
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>OAA - Portfolio</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The portfolio of Omar Atef."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{% static 'mypf/css/styleP.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'mypf/img/headshot.jpg'%}" alt="Detective conan" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Omar Atef</h1>
			<h2 class="quickFade delayThree">Computer Science student</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>g: <a href="https://github.com/OmarAlmighty" target="_blank">github.com/OmarAlmighty</a></li>
				<li>w: <a href="https://omaralmighty.github.io/myblog/">www.omaralmighty.com</a></li>
				<li>m: 01234567890</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>I am a hardworking and ambitious individual with a great passion and diverse work experience, including programming, software development, and consulting. I have extensive knowledge of software development cycle as well as proficiency in several programming languages. I have excellent communication skills, enabling me to effectively communicate with a wide range of people.  I am eager to be challenged in order to grow and further improve my IT skills. My greatest passion is in life is using my technical know-how to benefit other people and organisations.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Faculty</h2>
					<p class="subDetails">September 2016 - Present</p>
					<p>Faculty of Computers and Information, Luxor university GPA: 3.530/4.000</p>
				</article>

				<article>
					<h2>Relevant coursework</h2>
					<p class="subDetails"></p>
					<p>Data Structure and algorithms. Operating Systems. Computer Networks. Image Processing. Computer Graphics. Computer Architecture. Automata and language theory. Foundation of Articial Intelligence. Project Management. System analysis and design. Software Engineering. Databases. Object Oriented Programming.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Cognitive traits</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Team work</li>
					<li>Project management</li>
					<li>Problem solving</li>
					<li>Brevity & Clarity</li>
					<li>Visual processing</li>
                    <li>Active Listening</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>GYM MANAGEMENT SYSTEM</h2>
					<p>A desktop application written in C#-WPF application. The system is used for managing the members and their subscriptions in the gym, as well as tracking member’s diet and weight.</p>
				</article>

				<article>
					<h2>CLINICAL MANAGEMENT SYSTEM</h2>
					<p>A JavaFx desktop application which is used for managing patients and their appointments with the doctor. The system also keeps a record of medical treatment and diagnosis for every patient.</p>
				</article>

                <article>
					<h2>OTHER SMALL PROJECTS</h2>
					<p>Android Calories Counter application, Andorid Guess the number game, Android mathematical calculator,Desktop music player, Desktop scientific calculator, Painting application, Light-console games, CPU scheduler, subnet calculator</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>